<div class="container p-4">
    <h1 class="mb-4"> Facturas </h1>
    <div class="alert alert-danger d-none" role="alert" id="alert">
        A simple danger alert—check it out!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header font-weight-bold">
                    <i class="fas fa-cart-plus"></i> NUEVA FACTURA
                </div>
                <div class="card-body">
                    <form action="/transacciones/facturas/agregar" method="POST" id="facturar_form">
                        <label>Datos Cliente </label>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <div class="form-row">
                                    <div class="col-md-10">
                                        <input type="text" id="id_cliente" class="form-control factura_input"
                                            name="id_persona" placeholder="Código Cliente" maxlength="13">

                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" id="btn_buscar_cliente" class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-md-4">
                                <input type="text" id="name-cli" class="form-control" placeholder="Nombre del Cliente"
                                    disabled>
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" id="cel-cli" class="form-control" placeholder="Celular" disabled>
                            </div>

                            <div class="form-group col-lg-12">
                                <div class="col-lg-4 float-right">
                                    <button type="button" id="btn-new-cliente" class="btn btn-success float-right">
                                        <i class="fas far fa-address-book"></i> Nuevo Cliente
                                    </button>
                                </div>

                            </div>

                        </div>

                        <label>Empleado en caja</label>
                        <div class="form-row">

                            {{!--- Codigo Empleado ¡¡¡¡Temporal!!!! --}}

                            <input type="text" class="form-control" name="id_empleado" placeholder="Codigo" value="{{user.ID_EMPLEADO}}"
                                hidden>

                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" placeholder="Nombre Empleado"
                                    value="{{user.NOMBRE}} {{user.APELLIDO}}" disabled>

                            </div>

                        </div>

                        <label>Metodo de pago</label>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <select id="modo_pago" name="id_modopago" class="custom-select factura_input">
                                    {{#each metodopago}}
                                    <option value="{{ID_MODOPAGO}}"> {{DESC_MODOPAGO}} </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Artículos</label>


                            <div class="form-row">

                                <div class="form-group col-md-4">
                                    <div class="form-row">
                                        <div class="col-md-10">
                                            <input type="text" class="form-control factura_input" name="id-producto"
                                                placeholder="Código del Artículo" id="id_producto">
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" id="btn_buscar_producto" class="btn btn-primary">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" name="descripcion"
                                        placeholder="Descripción Artículo" id="descripcion" disabled>
                                </div>

                                <div class="form-group col-md-4">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <input type="number" class="form-control factura_input" id="cantidad_compra"
                                                min="1" onkeydown="if(event.key==='.'){event.preventDefault();}"
                                                placeholder="Cantidad">
                                        </div>

                                        <div class="col-md-6">
                                            <input type="number" class="form-control" id="precio_unit" min="0"
                                                step="0.01" placeholder="Precio Unit." disabled>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-2">
                                    <input type="number" class="form-control" id="contadorFilas" min="0" value="0"
                                        name="filas" hidden>
                                </div>

                            </div>
                        </div>



                        <button type="button" id="btn-agregar" class="btn btn-success float-left mb-4 mr-2">
                            <i class="far fa-plus-square"></i> Agregar Producto
                        </button>

                        <button href="#" class="btn btn-warning mb-4 mr-2 float-right" disabled>
                            <i class="fas fa-external-link-alt"></i> Nueva Factura
                        </button>

                        <button type="submit" id="procesar" class="btn btn-danger float-right mb-4 mr-2">
                            <i class="fas fa-file-invoice-dollar"></i> Facturar
                        </button>

                        <div class="col-md-12 mt-5">
                            <table class="table table-striped" id="table-venta">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Cant.</th>
                                        <th scope="col">Precio Unit.</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </form>

                    <div class="form-group col-md-2 float-right">
                        <label> Subtotal</label>
                        <input type="text" id="st-venta" class="form-control" placeholder="L. 0.00" disabled>
                        <label class="mt-2"> ISV</label>
                        <input type="text" id="isv" class="form-control " placeholder="L. 0.00" disabled>
                        <label class="mt-2"> Total </label>
                        <input type="text" id="total" class="form-control" placeholder="L. 0.00" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/facturas/facturar.js"></script>