<div class="container">
  <div class="col-md-12 mt-5">

    <div class="card mb-2">
      <div class="card-header font-weight-bold">
        <i class="fas fa-list"></i> General
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-md-2">
            <p> <strong> N째 Factura: </strong> </p>
            <h5> {{facturaGeneral.ID_FACTURA}} </h5>
          </div>

          <div class="form-group col-md-2">
            <p> <strong>Fecha:</strong> </p>
            <h5> {{format facturaGeneral.FECHA}} <br>
              {{hourFormat facturaGeneral.FECHA}} </h5>
          </div>
          <div class="form-group col-md-4">
            <p> <strong>Cliente:</strong> </p>
            <h5> {{facturaGeneral.Cliente}} </h5>
          </div>
          <div class="form-group col-md-4">
            <p> <strong>Atendi처:</strong> </p>
            <h5> {{facturaGeneral.Empleado}} </h5>
          </div>
          <div class="form-group col-md-4">
            <p> <strong>Pag처 con:</strong> </p>
            <h5> {{facturaGeneral.DESC_MODOPAGO}} </h5>
          </div>
        </div>
      </div>
    </div>



    <div class="card mb-2">
      <div class="card-header font-weight-bold">
        <i class="fas fa-list"></i> Lista Detalle
      </div>
      <div class="card-body">

        <table class="table table-striped" id="detalle-venta">
          <thead>
            <tr>
              <th scope="col">ID Producto</th>
              <th scope="col">Descripci처n</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio Unit.</th>
              <th scope="col"> Subtotal </th>
            </tr>
          </thead>
          <tbody>
            {{#each facturaDetails}}
            <tr>
              <td>
                {{ID_ARTICULO}}
              </td>
              <td>
                {{DESCRIPCION}}
              </td>
              <td>
                {{CANTIDAD}}
              </td>
              <td>
                L. {{PRECIO_UNIT}}
              </td>
              <td> L. {{SUBTOTAL}} </td>
            </tr>
            {{/each}}
          </tbody>
        </table>

        <div class="form-group col-md-2 float-right">
          <label> Subtotal</label>
          <input type="text" id="st-venta" class="form-control" placeholder="Subtotal" disabled
            value="">
          <label class="mt-2"> ISV </label>
          <input type="text" id="isv" class="form-control " placeholder="ISV" disabled 
          value="">
          <label class="mt-2"> Total </label>
          <input type="text" id="total" class="form-control" placeholder="Total" disabled
            value="">
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/js/consultas/ventas-detalle.js"></script>