<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Listado de Proveedores</h6>
</div>
<div class="card-body">
    <div class="table-responsive">

        <table class="table table-bordered" id="dataProveedores" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Proveedor</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th class="diseño d-none"></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Proveedor</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th class="diseño d-none"></th>
                </tr>
            </tfoot>
            <tbody>
                {{#each proveedores}}
                <tr>
                    <td> {{ID_PROVEEDOR}} </td>
                    <td> {{NOMBRE_PROVEEDOR}} </td>
                    <td> {{EMAIL_PROVEEDOR}} </td>
                    <td> {{CEL_PROVEEDOR}} </td>
                    <td class="text-center d-none diseño">
                        <button class="btn btn-primary editProveedor"
                            data-toggle="modal" data-target="#editProveedor"
                            data-proveedor="{{ID_PROVEEDOR}}">
                            <i class="fas fa-pen"></i>
                        </button>
                        <button id="{{ID_PROVEEDOR}}" class="btn btn-danger del-item delete-proveedor">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>