<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Listado de Marcas</h6>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataCategoriaLaboral" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Puesto</th>
                    <th>Salario</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Puesto</th>
                    <th>Salario</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                {{#each categoria_laboral}}
                <tr>
                    <td> {{ID_CATEGORIA}} </td>
                    <td> {{DESCRIPCION_CATEGORIA}} </td>
                    <td> L. {{SALARIO}} </td>
                    <td class="text-center">
                        <button class="btn btn-primary editCatLaboral" data-toggle="modal" data-target="#editCatLaboral"
                            data-catlaboral="{{ID_CATEGORIA}}">
                            <i class="fas fa-pen"></i>
                        </button>
                        <button id="{{ID_CATEGORIA}}" class="btn btn-danger del-item delete-cat">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>