<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/dashboard"> <i class="fas fa-home"></i> </a></li>
      <li class="breadcrumb-item"><a href="/consultas/compras">General</a></li>
      <li class="breadcrumb-item active" aria-current="page">Detalle de Compra</li>
    </ol>
  </nav>
  <h1 class="mb-4"> Detalle de la Compra </h1>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header font-weight-bold">
        <i class="fas fa-list"></i> Lista Detalle de Compra
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-md-6">
            <p> <strong> N° Compra </strong> </p>
            <h3> {{proveedorCompra.ID_COMPRA}} </h3>
          </div>
          <div class="form-group col-md-6">
            <p> <strong> Proveedor </strong> </p>
            <h3> {{proveedorCompra.NOMBRE_PROVEEDOR}} </h3>
          </div>
        </div>

        <table class="table table-striped" id="detalle-compra">
          <thead>
            <tr>
              <th scope="col">ID Producto</th>
              <th scope="col">Descripción</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio Compra</th>
              <th scope="col"> Subtotal </th>
            </tr>
          </thead>
          <tbody>
            {{#each compraDetails}}
            <tr>
              <td>
                {{ID_ARTICULO}}
              </td>
              <td>
                {{DESCRIPCION}}
              </td>
              <td>
                {{CANTIDAD}}
              </td>
              <td>
                L. {{PRECIO_COMPRA}}
              </td>
              <td> L. {{SUBTOTAL}} </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="form-group col-md-2 float-right">
          <label> Subtotal</label>
          <input type="text" id="st-venta" class="form-control" placeholder="Subtotal" disabled value="">
          <label class="mt-2"> ISV </label>
          <input type="text" id="isv" class="form-control " placeholder="ISV" disabled value="">
          <label class="mt-2"> Total </label>
          <input type="text" id="total" class="form-control" placeholder="Total" disabled value="">
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/consultas/compra-detalle.js"></script>