<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Listado de Artículos</h6>
</div>
<div class="card-body">
    <div class="table-responsive">

        <table class="table table-bordered" id="dataItems" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    <th>Marca</th>
                    <th>Tipo</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    <th>Tipo</th>
                    <th>Marca</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                {{#each articulos}}
                <tr>
                    <td> {{ID_ARTICULO}} </td>
                    <td> {{DESCRIPCION}} </td>
                    <td> {{STOCK}} </td>
                    <td> {{PRECIO_UNIT}} </td>
                    <td> {{TALLA}} </td>
                    <td> {{ID_MARCA}} </td>
                    <td class="text-center">
                        <button class="btn btn-primary edit-item">
                            <i class="fas fa-pen"></i>
                        </button>
                        <a href="/articulos/delete/{{ID_ARTICULO}}" class="btn btn-danger del-item">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>